body {
    background-color: #f8f8f8;
    font-family: 'Helveltica Neue';        
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 200px;
    max-width: 400px;
}



@font-face {
    font-family: 'Julius Sans One';
    src: url('JuliusSansOne-Regular.woff2') format('woff2'),
    url('JuliusSansOne-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}