body {
    background-color: #f8f8f8;
    font-family: 'Helveltica Neue';        
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
   
}
@font-face {
    font-family: 'Julius Sans One';
    src: url('JuliusSansOne-Regular.woff2') format('woff2'),
    url('JuliusSansOne-Regular.woff') format('woff');
    /* Add additional formats if available */
    font-weight: normal;
    font-style: normal;
}

.inner-container
{
    background-color: #33fc8a;
    border-radius: 15px;
    margin-top: 10px;
}

#move
{
    position: absolute; top: 10px;
}

.btn-outline-add {
    color: black;
    background-color: #98c5ff;
    border-color:black;
  }
.btn-outline-add:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

.selected
{
font: 14px/2.3em trebuchet,arial;
color: rgb(255, 255, 255);
text-align: center;
text-decoration: none;
display: block;
padding: 0 5px;
margin: 3px auto 5px;
background: #0767ed  repeat-x bottom;
border-radius: 15px; /* Creates rounded edges */
}

.selected:hover
{
    color: white;
}


.table
{
    background-color:#ffffff;
    border-color: black;
}

.table th
{
    background-color:#ffffff;
}
  
